.nome {
    background-color: #F4D19B;
    font-family: Fjalla One, sans-serif;
    padding: 10px;
    color:#264653;
  }

  .textoSobre{
    font-family: Birthstone, sans-serif;
    font-size:30px;
    background-color: #FDFCE5;
    text-align: center;

  }

.titulos {

    background-color: #F4D19B;
    text-decoration: none;
    color:#264653;
    text-align: center;
    

  }

  .iconesRedes {

    width: 50px;
    margin: 20px;
  }
  

  .fotoPerfil{

    border-radius: 50%;
    text-align: center;

  }
  
  .listaSkill {

  list-style: none;
  padding: 30px;
  margin: auto;
  width: 85%;
  text-align: center;
      
  }

  .ordenandoSkill {

    width: 30%;
    margin: 10px;
    display: inline-block;
  }

  .fotos{
  width: 300px;
  height: 300px;
  box-shadow: 6px 6px 6px #555;


  }


  body {
    background-color: #F9F3DF;
    
  }